extends layout

block content
    h1= title
    if errors
        for error in errors
            h3= error.message
    form(method="post", action="/books/" + book.id)
        if book
            p
                label(for="title") Title
                input(name="title", type="text", id="title", placeholder="Enter title" value=book.title)
            p
                label(for="author") Author
                input(name="author", type="text", id="author", placeholder="Enter author" value=book.author)
            p
                label(for="genre") Genre
                input(name="genre", type="text", id="genre", placeholder="Enter genre" value=book.genre)
            p
                label(for="year") Year
                input(name="year", type="text", id="year", placeholder="Enter publication year (YYYY)" value=book.year)
        else
            p
                label(for="title") Title
                input(name="title", type="text", id="title", placeholder="Enter title")
            p
                label(for="author") Author
                input(name="author", type="text", id="author", placeholder="Enter author")
            p
                label(for="genre") Genre
                input(name="genre", type="text", id="genre", placeholder="Enter genre")
            p
                label(for="year") Year
                input(name="year", type="text", id="year", placeholder="Enter publication year (YYYY)")
        p
            input(type="submit", value="Update Book")
        p
            a(class="button", href="/") Cancel

    form(method="post", action="/books/" + book.id + "/delete")
        p 
            input(type="submit", value="Delete Book")